@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Open+Sans:wght@300&family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@700&display=swap');



:root {
    --playfair-display: "Playfair Display", serif;
    --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  
    --primary-color: #b1454a;
    --secondary-color: #121212;
    --primary-info-clr: hsl(215,99%,66%);
    --secondary-info-clr: hsl(259,69%,65%);
    --neutral-info-clr-100: hsl(0,0%,100%);
    --neutral-info-clr-900: hsl(230,32%,15%);

    --gradient-2:
    linear-gradient( -250deg,hsl(300, 28%, 75%),
    #f1c8ca)
    ;
    --gradient-1:
    linear-gradient( -250deg,hsl(259, 65%, 78%),
    #b36468)
    ;

    --gradient-3:
    linear-gradient( -250deg, var(--primary-color),
    rgb(105, 81, 81))
    ;
 
  
    --black-200: #020202;
    --black-300: #333333;
    --black-400: #1f1e31;
    --black-500: #555555;
    --gray-100: #888888;
  
    --color-white: #fff;
    --color-creamson: #fff0de;
  }

  /* * {
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  } */
  
  body {
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--color-creamson);
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

/* START: header media querie */
@media screen and (max-width: 900px) {
    .header__nav {
      background: var(--gradient-3);
    }
  
    .header__menu {
      display: none;
    }
  
    .header__menu-mobile {
      display: flex;
      justify-content: end;
    }
    .name {
        display: flex;
        justify-content: start;
    }
  }
  
  @media screen and (max-width: 550px) {
    .header__logo {
      padding-left: 0;
    }
  }
  /* END: header media queries */
  
  /* START: head media querie */

@media screen and (max-width: 900px) {
    .head {
        display: none;
    }
   }

  /* END: head media querie */

.skills-content {
    display: none;
}

@media screen and (max-width: 900px) {
    .skills-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        /* background: var(--primary-color);
        -webkit-clip-path: polygon(0 0, 100% 22%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 22%, 100% 100%, 0% 100%); */
    }
    .h1-skills {
        font-size: 3rem;
        font-family: 'Raleway', sans-serif;
    }

    .container {
        /* background: var(--primary-color); */
        width: 40px;
        height: 30px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 1.5rem;
        margin-bottom: 30px;
        font-family: 'Raleway', sans-serif;
      }
      
      .carousel {
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        height: 32px;
        margin: 0 auto;
        text-align: center;
      }
      .inner {
          animation: scroll 5s ease-in-out infinite;
      }
      .element {
        font-size: 1.1em;
        text-shadow: 0px 2px 2px #fba09d;
      }
      
      @keyframes scroll {
        0%, 20% {
              transform: translateY(0);
          }
          25%,45% {
              transform: translateY(-32px);
          }
          50%,70% {
              transform: translateY(-64px);
          }
          75%,95% {
              transform: translateY(-96px);
          }
          100% {
              transform: translateY(-124px);
          }
      }
   }

  
